body {
    margin: 0px;
    overflow-x: hidden;
}

.container {
    width: 100% !important;
}

.form-padding {
    padding: 2% !important;
}

.img-padding {
    padding: 5%;
}

.box-pad {
    padding: 1.5rem 1.5rem 0;
}

hr.style-eight {
    overflow: visible;
    /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr.style-eight:after {
    content: "OR";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.forgot-pass {
    text-align: end;
    margin-right: 6rem !important;

}

.top-container {
    margin: 0.5rem !important;
}

.container {
    max-width: none;
}

.col-padding {
    padding: 0;
}

.row-center {
    height: 100vh;
    align-content: center;
}

.w-65 {
    width: 65% !important;
}

.img-logo {
    display: block;
}

.reset {
    width: 450px;
    margin: 0 auto;
    margin-top: 5%;
}

.footBar {
    text-align: center;
    padding: 5px;
    background: #004b6b;
    color: white;
    margin-top: 1em;

}

.footBar-bottom {
    text-align: center;
    padding: 5px;
    background: #004b6b;
    color: white;
    margin-top: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.size-m {
    width: 50%;

}

.profile-pic {
    width: 2.5rem;
    border-radius: 50%;
}

.ml-7 {
    margin-left: 5rem;
}

.ml-10 {
    margin-left: 6rem;
}

.nbox {
    width: 2.5rem;
    height: 2.5rem;
    padding-top: 5px;
    text-align: center;
    margin: 0.5rem;
    display: inline-block;
}

.quiz-card {
    text-align: center;
}

.feedback-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 400px;
}
.box{
    text-align: center;
    width: 100%;
    
}
.box-n {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    text-align: center;
   

}

.search {
    width: 400px;
    border-radius: 10px 0 0 10px;
    border-color: black;
    padding: 5px;
}

.search-btn {
    width: 3rem;
    border-radius: 0 10px 10px 0;
    padding: 5px 0;
}

.quiz-nav-but {
    width: 7rem;
}

.option {
    border-radius: 10px;
}
.options-box{
    display: inline-block;
}
.btn-ctr{
    display: block;
}
.subtopic-name{
    display: grid;
    justify-content: center;
}
.qreport {
    background-color: rgb(183, 201, 244);
    border-radius: 15px;
}

.oreport {
    background-color: rgb(227, 203, 244);
}

.correct {
    background-color: rgb(90, 183, 90);
}

.wrong {
    background-color: rgb(246, 73, 73);
}

.unattempted {
    background-color: rgb(243, 228, 210);
}

.attempted {
    background-color: rgb(183, 201, 244);
}

.quizno {
    text-align: center;
}

.main-div {
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
    width: -webkit-fill-available;
    justify-content: space-between;
}

.first-div {

    display: inline-grid;
}

.second-div {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

.score-div {
    font-size: 1.5cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.q-box {
    width: 20px;
    height: 20px;
    display: inline-flex;
    margin-right: 2rem;
}

.des-box {
    display: inline-flex;
}

@keyframes growProgressBar {

    0%,
    33% {
        --pgPercentage: 0;
    }

    100% {
        --pgPercentage: var(--value);
    }
}

@property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

div[role="progressbar"] {
    --size: 12rem;
    --fg: rgb(19, 176, 79);
    --bg: #def;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background:
        radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
        conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
}

div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
}

.btn-check:active+.btn-outline-primary:focus,
.btn-check:checked+.btn-outline-primary:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus,
.btn-outline-primary:active:focus {
    box-shadow: 0 0 0 0 rgb(0 0 0 / 0%) !important;
}

.feedbox{
    background-color: white;
}

.feedreportbox{
    background-color: #eee093;
    padding: 30px;
    margin-top: 20px ;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.e-feedback{
    position: absolute;
    top: 5rem;
    right: 3rem;
}
/**
 * Main wrapper
 */
 .select-search {
    width: 300px;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

.select-search *,
.select-search *::after,
.select-search *::before {
    box-sizing: inherit;
}

/**
 * Value wrapper
 */
.select-search__value {
    position: relative;
    z-index: 1;
}

.select-search__value::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: calc(50% - 9px);
    right: 19px;
    width: 11px;
    height: 11px;
}

/**
 * Input
 */
.select-search__input {
    display: block;
    height: 36px;
    width: 100%;
    padding: 0 40px 0 16px;
    background: #fff;
    border: 1px solid transparent;
    box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    text-align: left;
    text-overflow: ellipsis;
    line-height: 36px;
    -webkit-appearance: none;
}

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
    -webkit-appearance:none;
}

.select-search__input:not([readonly]):focus {
    cursor: initial;
}

/**
 * Options wrapper
 */
.select-search__select {
    background: #fff;
    box-shadow: 0 .0625rem .125rem rgba(0, 0, 0, 0.15);
}

/**
 * Options
 */
.select-search__options {
    list-style: none;
}

/**
 * Option row
 */
.select-search__row:not(:first-child) {
    border-top: 1px solid #eee;
}

/**
 * Option
 */
.select-search__option,
.select-search__not-found {
    display: block;
    height: 36px;
    width: 100%;
    padding: 0 16px;
    background: #fff;
    border: none;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
}

.select-search--multiple .select-search__option {
    height: 48px;
}

.select-search__option.is-selected {
    background: #2FCC8B;
    color: #fff;
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
    background: rgba(47, 204, 139, 0.1);
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
    background: #2eb378;
    color: #fff;
}

.select-search__option:disabled {
    cursor: not-allowed;
}

/**
 * Group
 */
.select-search__group-header {
    font-size: 10px;
    text-transform: uppercase;
    background: #eee;
    padding: 8px 16px;
}

/**
 * States
 */
.select-search.is-disabled {
    opacity: 0.5;
}

.select-search.is-loading .select-search__value::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 50 50'%3E%3Cpath fill='%232F2D37' d='M25,5A20.14,20.14,0,0,1,45,22.88a2.51,2.51,0,0,0,2.49,2.26h0A2.52,2.52,0,0,0,50,22.33a25.14,25.14,0,0,0-50,0,2.52,2.52,0,0,0,2.5,2.81h0A2.51,2.51,0,0,0,5,22.88,20.14,20.14,0,0,1,25,5Z'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 25 25' to='360 25 25' dur='0.6s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
    background-size: 11px;
}

.select-search:not(.is-disabled) .select-search__input {
    cursor: pointer;
}

.select-search.is-disabled .select-search__input:hover {
    cursor: not-allowed;
}

/**
 * Modifiers
 */
.select-search--multiple {
    border-radius: 3px;
    overflow: hidden;
}

.select-search:not(.is-loading):not(.select-search--multiple) .select-search__value::after {
    transform: rotate(45deg);
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    pointer-events: none;
}

.select-search--multiple .select-search__input {
    cursor: initial;
}

.select-search--multiple .select-search__input {
    border-radius: 3px 3px 0 0;
}

.select-search--multiple:not(.select-search--search) .select-search__input {
    cursor: default;
}

.select-search:not(.select-search--multiple) .select-search__input:hover {
    border-color: #2FCC8B;
}


.select-search:not(.select-search--multiple) .select-search__select {
    position: absolute;
    z-index: 2;
    top: 44px;
    right: 0;
    left: 0;
    border-radius: 3px;
    overflow: auto;
    max-height: 360px;
}

.select-search--multiple .select-search__select {
    position: relative;
    overflow: auto;
    max-height: 260px;
    border-top: 1px solid #eee;
    border-radius: 0 0 3px 3px;
}

.select-search__not-found {
    height: auto;
    padding: 16px;
    text-align: center;
    color: #888;
}
