body{
    margin: 0px;
    overflow-x: hidden;
}

.container{
    width:100% !important;
}

.form-padding{
    padding:2% !important;
}
.img-padding{
    padding: 5%;
}
.box-pad{
    padding: 1.5rem 1.5rem 0;
}
hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr.style-eight:after {
    content: "OR";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
.forgot-pass{
    text-align: end ;
    margin-right: 6rem !important;
    
}
.top-container{
    margin: 0.5rem !important;
}
.container{
max-width: none;
}
.col-padding{
    padding: 0;
}
.row-center {
    height: 100vh;
    align-content: center;
}
.w-65 {
    width: 65% !important;
}
.img-logo{
    display: block;
}
.reset {
    width: 450px;
    margin: 0 auto;
    margin-top: 5%;
}
.footBar {
    text-align: center;
    padding: 5px;
    background: #004b6b;
    color: white;
    margin-top: 1em;
    
}
.footBar-bottom{
    text-align: center;
    padding: 5px;
    background: #004b6b;
    color: white;
    margin-top: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.size-m {
    width: 50%;
    
}
.profile-pic{
    width: 2.5rem;
    border-radius: 50%;
}
.ml-7{
    margin-left: 5rem;
}
.ml-10{
    margin-left: 6rem;
}

.nbox {
    width: 2.5rem;
    height: 2.5rem;
    padding-top: 5px;
    text-align: center;
    margin: 0.5rem;
    display: inline-block;
}

.quiz-card {
    text-align: center;
}

.feedback-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 400px;
}

.box{
    width: 100%;
    text-align:center;
}

.search{
    width: 400px;
    border-radius: 10px 0 0 10px;
    border-color: black;
    padding: 5px;
}

.search-btn{
    width: 75px;
    border-radius: 0 10px 10px 0;
    border-color: black;
    padding: 5px 0;
}

.quiz-nav-but{
    width: 7rem;
}
.option{
    border: #333 0.5rem;
}
.qreport{
    background-color: rgb(183, 201, 244);
}
.oreport{
    background-color: rgb(227, 203, 244);
}
.correct{
    background-color: rgb(90, 183, 90);
}
.wrong{
    background-color: rgb(246, 114, 114);
}
.unattempted{
    background-color: rgb(243, 228, 210);
}
.attempted{
    background-color: rgb(183, 201, 244);
}
.quizno{
    text-align: center;
}
.main-div{
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
    width: -webkit-fill-available;
    justify-content: space-between;
}
.first-div{
    
    display: inline-grid;
}
.second-div{
    display: inline-flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}
.score-div{
    font-size: 1.5cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.q-box{
    width: 20px;
    height:20px;
    display: inline-flex;
    margin-right: 2rem;
}
.des-box{
    display: inline-flex;
}

@keyframes growProgressBar {
    0%, 33% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
  }
  
  @property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
  }
  
  div[role="progressbar"] {
    --size: 12rem;
    --fg: rgb(19, 176, 79);
    --bg: #def;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
      radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
      conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
      ;
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
  }
  
  div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
  }